<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>siga-s3-1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list> 
  	<security-role>
    	<role-name>ANALISTA</role-name>
	</security-role>
	<security-role>
    	<role-name>TUTOR</role-name>
	</security-role>
	<security-role>
    	<role-name>ESTUDIANTE</role-name>
	</security-role>
	
	<login-config>
    	<auth-method>FORM</auth-method>
    	<form-login-config>
        	<form-login-page>/Login.jsp</form-login-page>
        	<form-error-page>/error.jsp</form-error-page>
    	</form-login-config>
	</login-config>
	<security-constraint>
    	<web-resource-collection>
        	<web-resource-name>Admin Resources</web-resource-name>
        	<url-pattern>/itr</url-pattern>
    	</web-resource-collection>
	    <auth-constraint>
    	    <role-name>ADMIN</role-name>
    	</auth-constraint>
	</security-constraint>
	
	<servlet>
  		<servlet-name>ITR</servlet-name>
  		<servlet-class>com.bigfive.servlet.ITRServlet</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>ITR</servlet-name>
     	<url-pattern>/itr</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LOGIN</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LOGIN</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
</web-app>